version: '3.8'

services:
  db:
    image: postgres:15
    container_name: primavera_db
    ports:
      - "5432:5432"
    environment:
      POSTGRES_DB: primavera_bank
      POSTGRES_USER: admin
      POSTGRES_PASSWORD: password123
    volumes:
      - ./postgres-data:/var/lib/postgresql/data
    restart: always

  pgadmin:
    image: dpage/pgadmin4
    container_name: primavera_pgadmin
    ports:
      - "5050:80"
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: root
    depends_on:
      - db